<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Buscador usuarios GitHub</h5>

</div>
<div class="container" id="main" style="margin-top: 24px;">
	<div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<form class="card card-sm bg-primary">
				<div class="card-body row no-gutters align-items-center">
					<div class="col-auto">
						<i class="fas fa-search h4 text-body"></i>
					</div>
            <div class="col">
              <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Buscar usuario en github" (keyup.enter)="search($event)">
            </div>

				</div>
			</form>
		</div>

	</div>
  <div class="row" style="margin-top: 12px;" *ngIf="this.cantResultados > 0">
    <div class="card ">
     <div class="card-body">
      <div class="mb20">
        <h1>Resultados de busqueda</h1>
        <h2 class="lead"><strong class="text-info">{{this.cantResultados}}</strong> usuarios fueron encontrados para el texto de búsqueda <strong class="text-info">{{this.userText}}</strong></h2>

      </div>
      <section class="col-xs-12 col-sm-8 col-md-12" >
        <article class="search-result row" *ngFor="let usuario of userList | paginate: { itemsPerPage: 10, currentPage: page, totalItems: cantResultados /10 }" >

          <div class="col-xs-12 col-sm-12 col-md-3">
            <a href="{{usuario.html_url}}" title="Lorem ipsum" target="_blank">
              <img src="{{usuario.avatar_url}}" alt="Lorem ipsum" class="img-thumbnail w-50" />
            </a>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
            <h3><a href="{{usuario.html_url}}" target="_blank">{{usuario.login}}</a></h3>
            <p>{{usuario.bio}}</p>
            <span class="plus">
              Ubicación: {{usuario.location}} | repos publicos: {{ usuario.public_repos }} | followers: {{ usuario.followers }}
              </span>
          </div>
          <hr>
        </article>


        <pagination-controls
        (pageChange)="pageChanged($event)"

        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"></pagination-controls>
      </section>
     </div>
    </div>

  </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-white text-center"><a class="" href="https://github.com/JotaEmePM" target="_blank">José Miguel Pérez</a> - Abril 2022</p>
  </div>
</footer>
